.sign-in {
  width: 425px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
    text-align: center;
  }

  .buttons {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1024px) {
      justify-content: center;
      gap: 15px;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 10px;
    }
  }

  @media (max-width: 1024px) {
    width: 350px;
  }

  @media (max-width: 768px) {
    width: 100%;
    align-items: center;
  }
}