.sign-up {
  display: flex;
  flex-direction: column;
  width: 425px;

  .title {
    margin: 10px 0;
    text-align: center;
  }

  @media (max-width: 1024px) {
    width: 350px;
  }

  @media (max-width: 768px) {
    width: 100%;
    align-items: center;
  }
}